/* RESET MÍNIMO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE DEL DOCUMENTO */
body {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  color: #111;
}

/*Titulo*/
h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.3rem;
}

/*Texto*/
p {
  max-width: 65ch;
}

/* HEADER */
header {
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
}

/* CONTENEDOR PRINCIPAL */
main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  max-width: 1100px;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

/* SECCIONES */
section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 60vh;
}

/* FOOTER */
footer {
  padding: 2rem;
  text-align: center;
  border-top: 1px solid #ddd;
}

/*Responsive - Cuando hay mas espacio */
@media (min-width: 768px) {
  section {
    min-height: 80vh;
  }
}
